@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap');

html {
    font-family: 'Relway' sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #fff;
}

.light-rose-color, 
.card {
    background-color: #F1E9F0;
}

#intro {
    border-radius: 10px;
    color: #FFF;
}

@media (max-width:768px) {
    #intro {
        border-radius: 0 !important;
    }
}

.card {
    border-radius: 15px !important;
    margin: 10px !important;
}

img {
       border-radius: 15px 15px 0 0 !important;
       object-fit: cover;
}

#footer {
    color: #FFF;
}

#footer .img-payment {
    width: 130px;
}

/* Product page */

#main {
    min-height: 53vh;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    height: 50px;
}

.btn-add {
    width: 100% !important;
    
}